<div class="hero">
    <div class="row">
       <div class="content-wrapper ">
     <h1>Get Started Creating your survey.</h1>
         <p> Create your free survey here.</p>
         <a [routerLink]="'/signup'" class="btn">  Get Started</a>
         <a [routerLink]="'/login'" class="btn">  Already have an account</a>
    </div>
      
      <div class="content-wrapper ">
      
    <img src="https://www.pinclipart.com/picdir/big/63-638193_person-writing-in-a-journal-recording-clipart.png"/>
    <br><br><br>
    </div>
</div>