<app-asidebar></app-asidebar>
<div class="hero">
    <div class="row" style="margin-right: 0px; padding: 0px;">
       <div class="content-wrapper " style="margin-left: 0px;">
     <h1>Get Started Creating your survey.</h1>
         <p> Create your free survey here.</p>
         <a [routerLink]="'createsurvey'" class="btn" style="margin-bottom: 125px;">  Create Survey</a>
    </div>
      
      <div class="content-wrapper "style="padding: 0px;">
      
    <img src="https://www.pinclipart.com/picdir/big/63-638193_person-writing-in-a-journal-recording-clipart.png"/>
    <br><br><br>
    </div>
</div>
