<div style="margin-bottom: 200px; background-image: linear-gradient(to right bottom, #00ffd2, #00e5e7, #00c8f1, #00a8ec, #0087d7, #0077d5, #0065d1, #0052ca, #0049da, #003de9, #002cf5, #0b00ff);
height: 100%;"><div class="bootstrap-wrapper ">
    <div class="container" style="margin-top: 55px;border-color: black; ">
        <div class="raw mt50" style="border-color: black;">
            <p style="color:white">IMPORTANT<span style="color:red;">*</span> -> You can only give your opinion one time in a particalar question. So, give your opinion wisely there no way home...!!</p>
            <div *ngFor="let surveyquestion of surveyQuestion; let i = index" class="col-md-6 mt20" style="width:100%;border-color: black;">
                <div class="card-header" style="background-color:rgb(255, 244, 225);padding-left:0.5rem;border-color: black;">Question : {{i+1}}</div>
                <div class="card-body" style="background-color:rgb(255, 241, 225);padding-left:0.5rem;border-color: black;">
                    <!-- <h5 class="card-title">Description</h5> -->
                    <p class="card-text" style="font-size:1.2rem;border-color: black;">
                        {{surveyquestion.questionDescription}}</p>



                    <form action="">
                        <div style="padding-left:0.5rem;">

                            <!-- <div>fdjasjf</div> -->
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" [disabled]="isDisabled[i]" type="radio"
                                    name="surveyquestion.questionId" id="radioAgree"
                                    (click)="submitQuestion(surveyquestion.questionId, 1, i);">Agree -> {{countResultAgree}}
                                <!-- <label class="form-check-label" for="radioAgree"></label> -->
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" [disabled]="isDisabled[i]" type="radio"
                                    name="surveyquestion.questionId" id="radioDisagree"
                                    (click)="submitQuestion(surveyquestion.questionId, 0, i);">Disagree -> {{countResultAgree}}
                                <!-- <label class="form-check-label" for="radioDisagree">Disagree</label> -->
                            </div>
                        </div>
                        <br />
                    </form>

                </div>

            </div>
            <a class="btn btn-primary" [routerLink]="'/user'" style="margin-top:1rem;margin-bottom:2rem; background-color: #009c00;
            border-color: black;">DashBoard</a>
            <a class="btn btn-primary" [routerLink]="'/user/questionsdata'" style="margin-top:1rem; margin-left: 20px; margin-bottom:2rem; background-color: #009c00;
            border-color: black;">Exit Survey</a>
        </div>
    </div>
</div></div>