<div style="background-image: linear-gradient(to top left, #9999ff 0%, #00ffff 100%);
height: 100%;">
  <ul><br><br>
  <li><a [routerLink]="'/user'">Dashboard</a></li>
  <li><a [routerLink]="'questionsdata'">Give Survey </a></li>
  <li><a [routerLink]="'profile'">User Profile </a></li>
  </ul>
</div>
<div class="hero">
    <div class="row" style="margin-right: 0px; padding: 0px;">
       <div class="content-wrapper " style="margin-left: 0px;">
     <h1>Get Started Giving your survey.</h1>
         <p> Give your survey by ckicking button bellow</p>
         <a [routerLink]="'questionsdata'" class="btn" style="margin-bottom: 125px;">  Give Survey</a>
    </div>
      
      <div class="content-wrapper "style="padding: 0px;">
      
    <img src="https://www.pinclipart.com/picdir/big/63-638193_person-writing-in-a-journal-recording-clipart.png"/>
    <br><br><br>
    </div>
</div>
